/**/
/* TODO replace with proper tailwind classes */
/**/

sl-icon-button::part(base) {
  color: #ef4444;
}

sl-card::part(base) {
  width: 100%; 
  height: 100%; 
}

sl-card::part(header) {
  background-color: #e0e0e0;
}

sl-card::part(body) {
  background-color: #d1d5db;
  max-height: 200px;
  height: 100%;
  overflow-y: auto;
}
