@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import "tailwindcss";

@theme {
  --font-digital: "Orbitron", sans-serif;

  --animate-blink: blink 0.5s ease-in-out infinite;

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}

sl-icon-button::part(base) {
  color: var(--color-red-500);
}

sl-card::part(base) {
  width: 100%;
  height: 100%;
}

sl-card::part(header) {
  background-color: var(--color-gray-300);
}

sl-card::part(body) {
  background-color: var(--color-gray-200);
  height: 100%;
  overflow-y: auto;
}
