@import "tailwindcss"; 

sl-icon-button::part(base) {
  @apply text-red-500;
}

sl-card::part(base) {
  @apply w-full h-full;
}

sl-card::part(header) {
  @apply bg-gray-300;
}

sl-card::part(body) {
  @apply bg-gray-200 overflow-y-auto h-full;
}
