/* TODO replace with proper tailwind classes */
sl-icon-button::part(base) {
  color: #ef4444;
}

sl-card::part(base) {
  border: none;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
}

sl-card::part(body) {
  background-color: linear-gradient(135deg, #2a3a4d, #3b4f6a);
  color: #e0e0e0;
  max-height: 200px;
  overflow-y: auto;
}
